.button {
    --block-padding: 0.4em;
    --line-height: 1;

    background: deeppink;
    padding: var(--block-padding) 0.8em;
    font-weight: 600;
    color: white;
    line-height: var(--line-height);
    border-radius: calc(var(--line-height) * 1em + 2 * var(--block-padding));
    text-transform: uppercase;
    cursor: pointer;
}

.form-control {
    display: flex;
    flex-direction: column;
}